<h1>Listing banners</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>File name</th>
      <th>Active from</th>
      <th>Active until</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= banner.url %></td>
        <td><%= banner.file_name %></td>
        <td><%= banner.active_from %></td>
        <td><%= banner.active_until %></td>
        <td><%= link_to 'Show', banner %></td>
        <td><%= link_to 'Edit', edit_image_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_image_banner_path %>
