<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @banner.url %>
</p>

<p>
  <strong>File name:</strong>
  <%= @banner.file_name %>
</p>

<p>
  <strong>Active from:</strong>
  <%= @banner.active_from %>
</p>

<p>
  <strong>Active until:</strong>
  <%= @banner.active_until %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
